#input-search{
    width: 180px;
    height: 20px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    text-indent: 10px;
    outline: none;
    background: #E0FFBE;
}

.content-search{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 45px;
    background: rgba(0,0,0,);
    display: none;
}

.content-table{
    width: 180px;
    max-height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    background: rgba(228,255,194,0.3);
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table::-webkit-scrollbar{
    display: none;
}

.content-table table{
    width: 100%;
}


.btns{
  position: absolute;
  top: 25px;
  right: 150px;
  width: 30px;
  height: 30px;
  background: #FF1754;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}

.icon__user i{
  color: #FFFFFF;
  font-size: 13px;
  width: 30px;
  height: 30px;
  background: #FF1754;
  line-height: 30px;
  border-radius: 50%;
}

tbody tr td a{
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

tbody tr td a:hover{
    background: rgba(0,0,0,0.3);
    color: #E0FFBE;
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}
