.wrapper{
  margin: 40px auto;
  width: 90%;
}

.wrapper img{
  width: 300px;
  height: 300px;
  border-radius: 10%;
  float: left;
  border: 2px solid #E0FFBE;
  margin-right: 10px;
}


.wrappers{
  margin: 40px auto;
  width: 90%;
}

.wrappers img{
  width: 300px;
  height: 300px;
  border-radius: 10%;
  float: right;
  border: 2px solid #E0FFBE;
  margin-left: 10px;
}

.wrapper-Plat img{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  float: left;
  border: 2px solid #E0FFBE;
  margin-right: 10px;
}
.wrappers-Plat img{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  float: right;
  border: 2px solid #E0FFBE;
  margin-left: 10px;
}

.wrapper-Plat {
  margin: 40px auto;
  width: 70%;
}
.wrappers-Plat {
  margin: 40px auto;
  width: 70%;
}

iframe {
  border: 2px solid #E0FFBE;
  margin: 20px 40px 20px 40px;
  border-radius: 20px;
  float: left;
}
